# Ignore node_modules in any folder
**/node_modules/

# Ignore Yarn Plug'n'Play files
/.pnp
.pnp.js

# Ignore coverage folders
/coverage

# Ignore production build folders
/build

# Misc files to ignore
.DS_Store

# Ignore all .env files anywhere
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Ignore npm/yarn debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*